/* cascade */

*{
    font-family: tahoma;
}

h1{
    font-family: Times;
}

h3{
    font-family: arial;
}

h3>span{
    font-family: arial;
}

/* berubah span */

/* child selctor */

h3>span{
    color: crimson;
}

span{
    color: blue;
}

/* inheritance */

/* span dalam heading */

h3{
    font-size: 12px;
    padding: 10px;
}

h3>span{
    padding-left: inherit;
    padding-right: inherit;
}

/* color */

h2{
    background-color: black;
    color: beige;
    padding: 10px;
}

h3{
    background-color: rgba(100, 25, 0, 0.2);
}

h1{
    background-color: #cf7070;
    padding: 10px;
    text-align: center;
}

body{
    background-color: azure;
}