*{
    font-family: Tahoma;
}

.header{
    display: flex;
    background-color: cornflowerblue;
    padding: 10px;
    justify-content: center;
}

.header-title{
    color: cornsilk;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
}

.header:hover{
    background-color: cadetblue;
}